div.backoffice-image { /* container */	

	float:left;
	width:320px;
	min-height:300px;
}
div.backoffice-image:hover {
	background:#eee;
}

.backoffice-image img {

	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;

	-webkit-transform:scale(.8);
	-moz-transform:scale(.8);
	transform:scale(.8);
	display:block;
	margin:0 auto;
}

.backoffice-image img:hover {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);
}

.backoffice-image dl {
	margin:0;
	padding:0 10px;
	/*background:#faa;*/
}

	.backoffice-image dl dt,
	.backoffice-image dl dd {
		float:left;
		margin:0;
		padding:0;
	}
	
	.backoffice-image dl dt {
		width:30%;
	}
	
	.backoffice-image dl dd {
		width:70%;
	}	