#content { position:relative; }

div.property {

}

div.property-header {
	position:relative;
}
	span.property-price {
		position:absolute;
		top:0; right:0;
	}

div.property-gallery {
	position:relative;
	right:10px;
}
	
div.property-description {

}

dl.parameters-list {
	margin: 0 20px;
}
	dl.parameters-list dt,
	dl.parameters-list dd {
		width:50%;
		float:left;
		border-bottom:1px dashed;
		padding:5px 0;
	}

	dl.parameters-list dt {
	}
	dl.parameters-list dd {
		margin:0;
	}

div.property-creation-date {

}