@import url('../modules/navbar.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html {

}

body {
	color: #333;
	font-family: 'Open Sans', Arial, sans-serif;
}

/***** Links *****/
a {
    color: green;
    text-decoration: none;
}
	a:link {}
	a:hover {
		text-decoration: underline;
	}
	a:active {
		color: white;
	}
	a:visited {
		color: green;
	}
/***** Links *****/
	
/***** Forms *****/
form {}

	form fieldset {
		border-radius:2px;
	}
	
	form input,
	form textarea {
		box-shadow:inset 0px -1px 2px rgba(0,0,0,.1);
		border:none;
	}
	
	form input {}
	form textarea {}
/***** Forms *****/
	
div {
	/* uncomment to show div boundaries */
	/* box-shadow:inset 0px 0px 1px rgba(0,0,0,1);*/
}
	
#wrapper {
    width: 1000px;
    margin: 0 auto;
}
	#header,
	#main,
	#footer {
		text-align:center;
	}
	#header {
		position:relative;

	}
	/*	#header a {
			display:block;
		}
	*/
	#main {}
	#footer {}
		
		/*** #main content ***/
		
		#left-column,
		#middle-column,
		#right-column {

		}
		
		#left-column {
			width:250px;
			/*height:500px;*/
		}
		#middle-column {
			width:500px;
			/*height:500px;*/
			min-height:500px;
		}
		#right-column {
			width:250px;
			/*height:500px;*/
			
			text-align:justify;			
		}

		#outer-footer {
			text-align:center;
		}
			#outer-footer a {
				font-size:.7em;
			}

/* Pagination */
#pages {}
  #pages ul {
    list-style:none;
  }
    #pages ul li {}
      #pages ul li a {
        display:block;
        width:25px;
        height:25px;
        float:left;
        border:1px solid black;
        line-height:25px;
        text-align:center;
        margin:1px;
        border-radius:3px;
      }
      #pages a.current{
        color:red;
      }

/* special */
::-moz-selection {}
::selection {}