/* default template */

body {
  padding-top: 40px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

.navbar {
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
}

.carousel-caption {
  background:rgba(0,0,0,.5);
  text-align:center;

  width:50%;
  height:50%;
  margin:auto;
  top:10%;
  
  font-size:1.5em;
  
  text-shadow:0 2px 2px black;
}

  .carousel-caption h1 {
    color:white;
    font-size:2.5em;    
  }
  
  .carousel-caption p {
    line-height:1.2em;
    margin:1em auto;
  }  
  
  .carousel-caption a.btn {
    font-size:1.2em;  
  }


/* special */
::-moz-selection {}
::selection {}