#navbar {}
	#navbar ul {
		list-style: none outside none;
		padding: 0;
		margin:0;

		background: #555;
	}
		#navbar ul li {
			float: left;
			text-align:center;
		}
			#navbar ul li:not(:last-child) {
				border-right: 1px solid white;
			}

			#navbar ul li:hover {
			}

			#navbar ul li a {
				display:block;
				height:32px;
				line-height:32px;
				padding:0 20px;
			}
				#navbar ul li a:hover {
					text-decoration:none;
					background:#666;
				}
				#navbar ul li a:active {
					background:#888;
				}

				#navbar ul li a.current {
					background:#888;
				}
					#navbar ul li a.current:hover {

					}
					#navbar ul li a.current:active {

					}