#topbar {
	position:fixed;
	/*top:40px;*/ /* navbar's height */
	left:0;
	font-size:12.45px;
	font-family:'Segoe UI', Arial, sans-serif;

	height:32px;
	line-height:32px;
	width:100%;
	min-width:1000px;

	z-index:100;
	box-shadow:0 2px 2px rgba(0,0,0,.2);
	color:black;
	text-align:center;
	float:left;



	background: #dbe4f1;
	background: -moz-linear-gradient(top, #dbe4f1 0%, #c3d2e7 35%, #cfdbec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbe4f1), color-stop(35%,#c3d2e7), color-stop(100%,#cfdbec));
	background: -webkit-linear-gradient(top, #dbe4f1 0%,#c3d2e7 35%,#cfdbec 100%);
	background: -o-linear-gradient(top, #dbe4f1 0%,#c3d2e7 35%,#cfdbec 100%);
	background: -ms-linear-gradient(top, #dbe4f1 0%,#c3d2e7 35%,#cfdbec 100%);
	background: linear-gradient(top, #dbe4f1 0%,#c3d2e7 35%,#cfdbec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbe4f1', endColorstr='#cfdbec',GradientType=0 );

	/*	the static background:#CFDBEC;*/
	border-bottom:1px solid #A0A0A0; /*#86a4cf*/

}
/*#topbar:hover {
	opacity:1;
}*/


	#topbar_favicon {
		width:32px;
		height:32px;
		margin-right:5px;
		background-image:url('../../favicon.png');
		background-repeat:no-repeat;
		background-position:center;

		float:left;
	}

	#topbar_date {
		float:left;
		height:32px;
	}

	#topbar_logout {
		float:left;
		height:32px;

		position:absolute;
		top:0;
		right:5px;
	}

	#topbar_nav {
		float:left;
		height:32px;
		margin-left:10px;
	}

		#topbar_nav a {
			display:block;
			/*background:#FAFAFA;*/
			text-align:center;
			float:left;
			padding: 0 10px;
			border-left:1px solid #A0A0A0; /*#86a4cf*/
			color:black;
		}

		#topbar_nav a:hover:not(.current) {

			background: #cfdbec;
			background: -moz-linear-gradient(top,  #cfdbec 0%, #c3d2e7 65%, #dbe4f1 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfdbec), color-stop(65%,#c3d2e7), color-stop(100%,#dbe4f1));
			background: -webkit-linear-gradient(top,  #cfdbec 0%,#c3d2e7 65%,#dbe4f1 100%);
			background: -o-linear-gradient(top,  #cfdbec 0%,#c3d2e7 65%,#dbe4f1 100%);
			background: -ms-linear-gradient(top,  #cfdbec 0%,#c3d2e7 65%,#dbe4f1 100%);
			background: linear-gradient(top,  #cfdbec 0%,#c3d2e7 65%,#dbe4f1 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfdbec', endColorstr='#dbe4f1',GradientType=0 );

			box-shadow:inset 1px 1px 2px 2px #aac0de;
		}
			#topbar_nav a.current {
				background:#6e92c5 !important;
				color:white;
				/*font-weight:bold;*/
				box-shadow:inset 1px 1px 2px 2px #4977b7;
			}
			#topbar_nav a.current:hover {
				text-decoration:none;
			}